{% extends"base.html.twig" %}
{% block title %} {{ parent() }} > Espace d'administration {% endblock %}
{# commentaire #}

{% block body %}
    <h1>Espace Administration > Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">DatePublication</th>
                <th scope="col">Auteur</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row"><a href="#">{{ article.Id }}</a></th>
                <th scope="row">{{ article.Titre }}</th>
                <th scope="row">{{ article.DatePublication|date('d/m/Y') }}</th>
                <th scope="row">{{ article.Auteur }}</th>
                <th scope="row"><a href="#"><i class="bi bi-trash"></i></a></th>
            </tr>
        {% endfor %}

        </tbody>

    </table>
{% endblock %}